* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 10px
  }
  
  body {
    min-width: 320px;
    max-width: 1019px;
    margin: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav button {
    visibility: hidden;
  }
  
  nav ul>li {
    margin-top: auto;
    text-align: right;
    list-style: none;
    display: inline;
  }

  nav a {
    text-decoration: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
  }
  
  
  header h1 {
    flex: 3;
    text-align: center;
    margin: auto;
    padding-left: 100px;
  }
  
  header img {
  /*  width: 200px; */
    height: 250px;
  /*   display: inline-block; */
    
  }
  
  header .avatar {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
  .avatar ul {
    position: relative;
    left: -80px;
    list-style: none;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    color: steelblue;
    font-weight: bold; 
  }
  
  section h2{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  
  section {
    /*border: 2px solid black;*/
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  section p, .demo-links {
    font-size: 16px;
    line-height: 2;
    padding: 0 18% 0 18%;
  }
  
  section img {
    width: 50%;
    margin: auto;
  }
  
  .demo-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact div {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .contact img {
    width: 80px;
    height: 80px;
  }
  
  footer {
    text-align: center;
  }
  
  
  
  
  @media screen and (max-width: 700px){
    nav ul {
      visibility: hidden;
    }
    nav button {
    visibility: visible;
    font-size: 16px;
    }
    header {
      flex-direction: column;
    }
    header h1 {
        padding-left: 0;
    }
    header .avatar {
      justify-content: center;
    }
    header img {
      position: relative;
      left: 42px;
    }
    header ul {
      left: -70px;
    }
    section p {
    font-size: 16px;
    line-height: 2;
    padding: 0 4% 0 4%;
    }
    .projects img {
      content:url("https://matrayu.github.io/Portfolio_v1/images/B2F_image_mobile.png");
    }
    .contact div {
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    }
  }